!!! 5
/[if lt IE 9] <html class="ie8 old-ie" lang="en">
<!--[if gte IE 9]><!-->
%html{ lang: "en" }
  <!--<![endif]-->

  / 
    _
    _
    _  OOOOOOOOOO              ///   ///    ..oOOOo..
    _  OOOOOOOOOO             ///   ///  .:OOOOOOOOOOO:.
    _  OOOOOOOOOO            ///   ///  .OOOOOOOOOOOOOOO.
    _  OOOO  OOOO           ///   ///   OOOOOOOOOOOOOOOOO 
    _  OOOO  OOOO    +     ///   ///    OOOOOOOOOOOOOOOOO
    _  OOOO  OOOO         ///   ///     OOOOOOOOOOOOOOOOO 
    _  OOOOOOOOOO        ///   ///      `OOOOOOOOOOOOOOO'
    _  OOOOOOOOOO       ///   ///        `:OOOOOOOOOOO:'
    _  OOOOOOOOOO      ///   ///            ''*OOO*''
    _  
    _  Designed by Switch Creative
    _    http://switchcreative.com
    _  Developed by LaCroix Design Co.
    _    http://lacroixdesign.net
    _
  
  %head
    %meta(charset="utf-8")
    %title= [yield_content(:title), "Memphis Pediatric Heart"].reject(&:blank?).join(' | ')
    
    -# koko wa general meta
    %meta{name: "description", content: ""}
    %meta{name: "author", content: "Michael Carpenter, Michael LaCroix"}
    %meta{:'http-equiv' => "X-UA-Compatible", content: "chrome=1"}
    
    -# koko wa fav and touch icons (reside in the /public folder), plus iOS meta
    %link{rel: "shortcut icon", href: "/favicon.ico"}
    %link{rel: "apple-touch-icon", href: "/apple-touch-icon-57x57-precomposed.png"}
    %link{rel: "apple-touch-icon-precomposed", sizes: "72x72", href: "/apple-touch-icon-72x72-precomposed.png"}
    %link{rel: "apple-touch-icon-precomposed", sizes: "114x114", href: "/apple-touch-icon-114x114-precomposed.png"}
    %link{rel: "apple-touch-icon-precomposed", sizes: "144x144", href: "/apple-touch-icon-144x144-precomposed.png"}
    %meta{name: "viewport", content: "initial-scale=1.0, user-scalable=no, maximum-scale=1.0"}
    %meta{name: "apple-mobile-web-app-capable", content: "yes"}
    %meta{name: "apple-mobile-web-app-status-bar-style", content:"black"}

    -# koko wa HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "html5"
    
    = stylesheet_link_tag "application", media: "all"

    -# koko wa CSS3 polyfill, IE6-8 support of CSS3 pseudo-classes with Selectivizr
    /[if lt IE 9]
      = javascript_include_tag "polyfills"
    
    -# koko wa Typekit -- replace VVVVVVV with the proper kit code
    %script{ type: "text/javascript", src: "//use.typekit.net/hne1eyy.js" }
    :javascript
      try{Typekit.load();}catch(e){}

    -# koko wa Google Maps
    %script{ type: "text/javascript", src: "http://maps.googleapis.com/maps/api/js?sensor=true&keykey=AIzaSyA67Zko6Iz75NXQZK0aHfyjU0ncjd913Zk" }
  
  
  
  
  %body

    %nav#nav.l-nav
      .m-menu
        .logo
          = link_to "#intro" do
            = image_tag "logo-condensed.png"
        .toggle= link_to "Menu", "#menu", data: {behavior: "toggle:class"}
        %ul#menu
          %li= link_to "Welcome", "#welcome"
          %li= link_to "Dr. Stamps", "#dr-stamps"
          %li= link_to "For Patients", "#for-patients"
          %li= link_to "Referring Physician", "#referring-physician"
          %li= link_to "Contact", "#contact"


    = yield
    
    
    

    
    
    
    
    -# koko wa javascript
    = javascript_include_tag "application"
    
    
    - unless development?
      -# koko wa Google Analytics
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-32827207-6']);
        _gaq.push(['_trackPageview']);
        
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      -# koko wa Gauges Tracking
      :javascript
        var _gauges = _gauges || [];
        (function() {
          var t   = document.createElement('script');
          t.type  = 'text/javascript';
          t.async = true;
          t.id    = 'gauges-tracker';
          t.setAttribute('data-site-id', '5111ae60f5a1f5404b000012');
          t.src = '//secure.gaug.es/track.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(t, s);
        })();



    
    
    -# koko wa Width Plugin
    - if development?
      #lacroix-browserwidth{style: "position:fixed; bottom:0; left:0; background:#555; color:#CCC; font-size:0.75em; padding:0.25em; text-shadow: 0 -1px 1px rgba(0,0,0,0.9); font-weight:normal;"}
      :javascript
        function showWidth(){var w = $(window).width();$('#lacroix-browserwidth').text(w);}showWidth();$(window).resize(function(){showWidth();});
