-# Intro
.m-intro#intro
  = image_tag "hands.jpg", class: "bg"
  .logo= image_tag "logo-full.png"
  .m-actions
    .l-constrained
      = link_to icon("e001"), "tel:9012592440"
      = mail_to "kstamps@mpheart.com", icon("e000")

-# Welcome
.m-welcome#welcome
  .l-constrained
    = partial "content/welcome"

-# Doctor
.m-doctor#dr-stamps
  .l-constrained
    .m-dr-stamps
      .photo= image_tag "kevin-stamps.jpg"
      .about= partial "content/stamps"
    .m-bio
      %h2 Professional Biography
      - if data.professional_biography
        - data.professional_biography.take(2).each do |set|
          .m-history
            %table
              %tbody
                - set.each do |item|
                  %tr
                    %td= item.title
                    %td.dates= item.dates
                  %tr.company
                    %td{ colspan: "2" }= item.company

-# Patients
.m-patients#for-patients
  .bg= image_tag "girl.jpg"
  .l-constrained
    .m-content= partial "content/patients1"
    .m-content= partial "content/patients2"

-# Referring Physicians
.m-physicians#referring-physician
  .l-constrained
    = partial "content/referring_physicians"

-# Contact
.m-contact#contact
  .l-constrained
    %h1 Contact
    .info
      %table
        %tbody
          %tr
            %td
              6215 Humphreys Blvd., STE 211
              %br
              Memphis, TN 38120
            %td
              ph
              %br
              fx
            %td
              = link_to "901.259.2440", "tel:9012592440"
              %br
              901.259.2444

-# Map
.m-map
  #map-canvas.map
  .m-actions
    .l-constrained
      = link_to icon("e001"), "tel:9012592440"
      = mail_to "kstamps@mpheart.com", icon("e000")
  .copyright &reg; 2013 MPHeart.com
